<div class="card mb-3" style="max-width: 540px;" *ngFor="let f of flight">
    <div class="row no-gutters" >
        <div class="col-md-8">
            <h5 class="card-title">{{f.flightId}}</h5>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{f.flightName}}</h5>
                <p class="card-text">{{f.flightSource}}</p>
                <p class="card-text">{{f.flightDestination}}</p>
                <p class="card-text">{{f.flightDate}}</p>
                <p class="card-text">{{f.flightTime}}</p>
                <p class="card-text">{{f.flightTicketPrice}}</p>
                <p class="card-text">{{f.flightClassType}}</p>
                <p class="card-text">{{f.flightTotalNoOfSeats}}</p>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-outline-info" >Book Ticket</button>
</div>
